{% extends 'base.html.twig' %}

{% block title %}Edit Service{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {# Load compiled CSS from Webpack Encore #}
    {{ encore_entry_link_tags('servicenew') }}
{% endblock %}

{% block content %}
<section class="section">
    <h2>Edit Service</h2>
    {{ include('service/_form.html.twig', {'button_label': 'Update'}) }}
    <div class="actions-bottom mt-4">
        <a href="{{ path('app_service_index') }}" class="btn btn-secondary">Cancel</a>
    </div>
</section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('servicenew') }}
{% endblock %}
